<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device">
        <title>My First EJS File</title>
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <h1>This is a heading! <%= 5 + 4 + 1 %> </h1> 
        <!--The inside part is treated as JS instead of HTML using EJS-->
        <p>This is a paragraph</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quisquam nesciunt pariatur id tenetur sapiente expedita quos explicabo, sint consequatur velit veritatis aperiam tempora vitae! Unde labore facilis tempore ab!</p>

    </body>
</html>