<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>New Campground</title>
</head>
<body>
    <h1> New Campground </h1>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="title"> Title </label>
            <input tyype="text" id="title" name="campground[title]"> </input>
        </div>
        <div>
            <label for="location"> Location </label>
            <input type="text" id="location" name="campground[location]"> </input>
        </div>
        <button> Add Campground </button>
    </form>
    <a href="/campgrounds">All Campgrounds </a> 
</body>
</html>